
// -------------- BRAND PALETTE
$brand-0          : #ffffff;
$brand-1          : #000000;
$brand-2          : #695f0f;
$brand-3          : #a31c67;
$brand-4          : #123456;
$brand-5          : #bf0000;
$brand-6          : #d2b414;
$brand-7          : #ebebe6;
$brand-8          : #f3da6c;
$brand-9          : #f5f5f3;
$brand-10         : #191919;
$brand-11         : #ff6170;

//BG COLORS
$bg-wht           : $brand-0;
$bg-gray-lite     : $brand-7;


//BDR COLORS
$bdr-1             : $brand-11;


//TXT-COLORS
$txt-blk          : $brand-1;
$txt-wht          : $brand-0;
$txt-link         : $brand-3;